@import "styles/media"
@import "styles/variables"
@import "styles/flex"

.container
  background-color: lightblue
  padding: $md-padding
  position: relative
  height: 65vh

  @include media(xs)
    height: 55vh

  @include media(sm)
    height: 45vh

  @include media(md)
    border-radius: $primary-border-radius
    margin: $section-hero-margin
    height: auto

.headline-wrapper
  height: 100%

  @include media(md)
    margin-top: $navbar-height
    padding: $xxxl-padding 0

.headline-content
  @include flexColumn
  @include flexCenter
  height: 100%
  padding: $sm-padding
  text-align: center
  margin: 0 auto

  @include media(sm)
    min-width: 400px
    max-width: 640px

.headline
  color: $white

.mission
  color: $white
