@import "styles/media"
@import "styles/variables"
@import "styles/flex"

.container
  background-color: rgb(127, 219, 213)
  background-image: linear-gradient(135deg, rgb(127,219,213) 0%, rgba(75,186,221,1) 100%)
  padding: $md-padding
  position: relative
  overflow: visible

  @include media(md)
    border-radius: $primary-border-radius
    margin: $section-hero-margin
    margin-bottom: 0

.headline-wrapper
  height: 100%
  margin-top: $navbar-height

  @include media(md)
    padding: $xl-padding 0

  @include media(lg)
    padding: $xxl-padding 0

.headline-content
  @include flexColumn
  @include flexCenter
  height: 100%
  padding: $sm-padding
  text-align: center
  margin: 0 auto

  @include media(sm)
    min-width: 400px
    max-width: 640px
    margin-bottom: $lg-padding

.headline
  color: $white

.mission
  color: $white

