@import "styles/media"

.container

.title
  text-align: center
  color: var(--black)

.customer_stories
  display: grid
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) )
  grid-gap: var(--space-lg)
