@import "styles/media"
@import "styles/flex"
@import "styles/variables"

.container
  display: flex
  justify-content: space-between
  background-color: $default-surface-color
  padding: $md-padding $lg-padding
  border-radius: $primary-border-radius

.logo-wrapper
  
  img
    max-width: 100%

.menu-icon
  width: 16px
  height: 16px