@import "styles/media"
@import "styles/flex"
@import "styles/variables"

.container
  display: flex
  align-items: center
  justify-content: space-between
  background-color: $default-surface-color
  padding: $md-padding $lg-padding
  border-radius: $primary-border-radius
  height: $navbar-height
  max-width: $navbar-width
  margin: 0 auto

.logo-wrapper
  
  img
    max-width: 100%

.mobile-navbar-wrapper

  @include media(md)
    display: none
  
  .menu-icon
    width: 16px
    height: 16px

.desktop-navbar-wrapper

  @include media(md)
    display: block

  .navbar-wrapper

    .navbar-list
      display: flex
      align-items: center

      .navbar-item
        letter-spacing: 1.2
        margin-right: $lg-padding

        a
          color: $black
          transition: $transition-duration $transition-ease

          @include hover
            color: $primary-color

        @include lastChild
          margin-right: 0

      .navbar-button
        font-weight: 500
        padding: $sm-padding $md-padding
        background-color: $secondary-color
        color: $white
        border-radius: $secondary-border-radius
        transition: $transition-duration $transition-ease

        @include hover
          background-color: darken($secondary-color, 20%)
      