@import "styles/variables"
@import "styles/media"
@import "styles/flex"
  
.container
  position: relative
  color: $white
  background: $primary-color
  border-radius: $primary-border-radius
  text-align: center
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px

.wrapper
  width: 80%
  margin: 0 auto
  padding: $xxl-padding $lg-padding

  @include media(sm)
    padding: $xxl-padding $xxxl-padding
    max-width: 640px

.title
  
.subtitle

.button-wrapper
  position: absolute
  top: 16px
  right: 16px

  .link-button
    @include flexCenter
    width: 32px
    height: 32px
    border: 1px solid $white
    border-radius: 100%
    color: $white
    transition: $transition-duration $transition-ease

    @include hover
      background-color: $white
      color: $black

    @include media(md)
      width: 48px
      height: 48px


.image-wrapper
  
  img
    border-radius: $primary-border-radius

.list
  counter-reset: li
  list-style: none
  padding: 0
  text-shadow: 0 1px 0 rgba(255,255,255,.5)

.list-item

  p
    position: relative
    display: block
    padding: .4em .4em .4em 2em
    margin: .5em 0
    background: rgba(127,219,213,0.4)
    text-decoration: none
    border-radius: $primary-border-radius
    transition: .3s ease-out

    &:hover
      background: rgba(127,219,213,0.8)

    &::before
      content: counter(li)
      counter-increment: li
      position: absolute
      left: -1.3em
      top: 50%
      margin-top: -1.3em
      background: $primary-color
      height: 2em
      width: 2em
      line-height: 2em
      border: .3em solid #fff
      text-align: center
      font-weight: bold
      border-radius: 2em
      transition: all .3s ease-out