@import "styles/variables"
@import "styles/media"
  
.container
  color: $white
  background: $primary-color
  border-radius: $primary-border-radius
  text-align: center
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px

.wrapper
  width: 80%
  margin: 0 auto
  padding: $xxxl-padding $lg-padding

  @include media(sm)
    padding: $xxxl-padding
    max-width: 640px

.title
  
.subtitle

.button-wrapper

.image-wrapper