@import "styles/variables"

.container
  border: 2px solid #f0ebe5
  border-radius: 20px
  color: $black
  overflow: hidden

.wrapper
  display: grid
  grid-template-rows: minmax(0, auto) minmax(auto, 1fr) minmax(0, auto)
  grid-gap: 24px
  padding: 28px
  height: 100%
  // background-color: $background-surface-color
  background-color: #fcf9f5
  
.quote-box
  display: block

.quote
  width: 48px
  height: 48px
  display: flex
  align-items: center
  justify-content: center
  background-color: rgb(127, 219, 213)
  background-image: linear-gradient(135deg, rgb(127,219,213) 0%, rgba(75,186,221,1) 100%)
  border-radius: 100%
  color: $white

.testimonial
  font-size: 18px
  line-height: 1.75

.clients
  text-align: right

  .client-name
    color: $primary-color
    font-weight: 700
    font-size: 110%

  .client-role
    font-weight: 700
    font-size: 100%

  .client-company
    font-size: 100%
