@import "styles/mixins"

$list-align-margin: 1.3em
$list-counter-size: 2em
$list-bg-primary: #7fdbd5
$list-bg-secondary: #4bbadd
$list-bg-accent: #0b313d
$list-bg-on-primary: #d57fdb
$list-bg-on-secondary: #DD4BBA
$list-bg-on-accent: #3D0B31
  
.container
  max-width: var(--layout-sm)
  margin: 0 auto

  &.full_width
    max-width: none
    margin: unset

.list
  counter-reset: li
  list-style: none
  margin: 0 $list-align-margin

  li:last-child
    margin-bottom: 0

.list_item
  cursor: default
  margin-bottom: var(--space-xs)
  
.list_text
  position: relative
  display: block
  padding-top: var(--space-sm)
  padding-right: var(--space-xs)
  padding-bottom: var(--space-sm)
  padding-left: var(--space-lg)
  border-radius: var(--border-radius-primary)
  transition: var(--transition-primary)

  &.serif
    font-family: var(--font-secondary)

  &::before
    content: counter(li)
    counter-increment: li
    position: absolute
    display: flex
    align-items: center
    justify-content: center
    text-align: center
    font-weight: bold
    margin-top: -$list-align-margin
    left: -$list-align-margin
    top: 50%
    background: var(--color-primary)
    height: $list-counter-size
    width: $list-counter-size
    border: var(--space-xxs) solid var(--white)
    border-radius: var(--border-radius-circle)
    transition: var(--transition-primary)

.text
  margin: 0

.primary

  .list_text
    background: rgba($list-bg-primary, 0.7)
    color: var(--white)

    h1, h2, h3, h4, strong
      color: var(--white)

    @include hover
      background: rgba($list-bg-primary, 0.95)

    &::before
      background: var(--color-primary)
      color: var(--white)

.secondary

  .list_text
    background: rgba($list-bg-secondary, 0.7)
    color: var(--black)

    h1, h2, h3, h4, strong
      color: var(--black)

    @include hover
      background: rgba($list-bg-secondary, 0.95)

    &::before
      background: var(--color-secondary)
      color: var(--black)

.accent

  .list_text
    background: rgba($list-bg-accent, 0.7)
    color: var(--white)

    h1, h2, h3, h4, strong
      color: var(--white)

    @include hover
      background: rgba($list-bg-accent, 0.95)

    &::before
      background: var(--color-accent)
      color: var(--white)

.on_primary

  .list_text
    background: rgba($list-bg-on-primary, 0.7)

    @include hover
      background: rgba($list-bg-on-primary, 0.95)

    &::before
      background: $list-bg-on-primary

.on_secondary

  .list_text
    background: rgba($list-bg-on-secondary, 0.7)

    @include hover
      background: rgba($list-bg-on-secondary, 0.95)

    &::before
      background: $list-bg-on-secondary

.on_accent

  .list_text
    background: rgba($list-bg-on-accent, 0.7)
    color: var(--white)

    h1, h2, h3, h4, strong
      color: var(--white)

    @include hover
      background: rgba($list-bg-on-accent, 0.95)

    &::before
      background: $list-bg-on-accent
      color: var(--white)

.on_surface

  .list_text
    background: rgba($list-bg-primary, 0.7)
    color: var(--black)

    h1, h2, h3, h4, strong
      color: var(--black)

    @include hover
      background: rgba($list-bg-primary, 0.95)

    &::before
      background: $list-bg-primary
      color: var(--black)