:root
  --color-primary: #4BBADD
  --color-primary-light: #7CCDE6
  --color-primary-dark: #2AADD7
  --color-on-primary: var(--white)

  --color-secondary: #7FDBD5
  --color-secondary-light: #A5E5E1
  --color-secondary-dark: #72C5BF
  --color-on-secondary: var(--white)

  --color-accent: #0B313D
  --color-accent-light: #3B5A63
  --color-accent-dark: #082730
  --color-on-accent: var(--white)

  --color-red: #EC0B43
  --color-red-dark: #AF0832
  --color-red-light: #F52F61
  --color-on-red: var(--white)

  --color-violet: #58355E
  --color-violet-dark: #422847
  --color-violet-light: #7F4D88
  --color-on-violet: var(--white)

  --color-green: #4A7C59
  --color-green-dark: #385D43
  --color-green-light: #609F73
  --color-on-green: var(--white)

  --color-background: #FFFFFF
  --color-on-background: var(--color-text)

  --color-surface: #FFFFFF
  --color-surface-light: rgba(255, 255, 255, 0.8)
  --color-on-surface: var(--color-text)

  --black: #1d1d21
  --gray-10: #2e2e31
  --gray-6: #7b7a7d
  --gray-4: #a5a5a6
  --gray-3: #bbbbbc
  --gray-2: #d1d0d2
  --gray-1: #e8e7e8
  --white: white

  --color-success: #88c459
  --color-error: #f5414f
  --color-warning: #ffd137

  --color-text: var(--gray-10)
  --color-text-heading: var(--black)
  --color-text-subtle: var(--gray-6)
  --color-link: var(--color-primary)

  --color-border: var(--gray-2)

  --btn-primary-bg: var(--color-primary)
  --btn-primary-hover: var(--color-primary-light)
  --btn-primary-active: var(--color-primary-dark)
  --btn-primary-label: var(--white)

  --color-icon-primary: var(--gray-4)
  --color-icon-secondary: inherit

body
  background-color: var(--color-background)
  color: var(--color-on-background)

  h1, h2, h3, h4, form legend
    color: var(--color-text-heading)

  a
    color: var(--color-link)

  button
    background-color: var(--btn-primary-bg)
    color: var(--btn-primary-label)

    @include hover
      background-color: var(--btn-primary-hover)

  svg
    color: var(--color-icon-primary)
    fill: var(--color-icon-primary)