*,
  html,
  body
    font-family: Outfit, sans-serif
    text-decoration: none
    box-sizing: border-box
    -webkit-font-smoothing: antialiased

body
  margin: 0
  padding: 0
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
  -webkit-tap-highlight-color: transparent
  -webkit-overflow-scrolling: touch

ul,
ol,
dd 
  margin: 0
  padding: 0
  list-style: none


h1,
h2,
h3,
h4,
h5,
h6 
  margin: 0
  padding: 0  

p
  margin: 0

button
  margin: 0 
  cursor: pointer
  margin: 0
  text-decoration: none
  text-align: center
  background: none

button,
input,
optgroup,
select,
textarea
  display: inline-block
  border: none
  font-family: inherit
  font-size: 100% 
  line-height: 1.15 

button,
input
  overflow: visible

button,
select
  text-transform: none

button,
[type="button"],
[type="reset"],
[type="submit"]
  -webkit-appearance: button