@import "styles/variables"
@import "styles/media"
  
.container
  display: inline-flex
  align-items: center
  padding: $sm-padding $xl-padding
  border-radius: $primary-border-radius
  border: 1px solid $white
  color: $white
  background-color: transparent
  transition: $transition-duration $transition-ease

  @include hover
    background-color: $white
    color: $black