@import 'styles/variables'
@import 'styles/media'
  
.container
  position: relative
  overflow: hidden
  padding: $xxl-padding $md-padding
  background-color: #fff

  @include media(md)
    padding: $xxxl-padding $md-padding

  &:global(.section-alt) 
    background-color: #fcf9f5
  
.wrapper
  max-width: $section-width
  margin: 0 auto