@import "styles/mixins"
@import "styles/media"

$logo-size: 96px
$menu-icon-size: 24px
$menu-border: 1px solid rgba(50, 49, 59, 0.1) 
$menu-active-height: calc(297px + var(--space-sm))
$submenu-active-height: 128px
$menu-active-shadow:rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px
$background-surface-color: #FCF9F5

.container
  position: absolute
  left: 50%
  transform: translateX(-50%)
  background-color: var(--color-surface)
  border-radius: var(--border-radius-primary)
  width: 93%
  margin: 0 auto
  z-index: 9
  box-shadow: $menu-active-shadow

.wrapper
  position: relative
  padding: var(--space-sm) var(--space-md)
  transition: var(--transition-primary)

.nav_wrapper
  display: flex
  align-items: center
  justify-content: space-between

.logo_wrapper
  width: $logo-size

.mobile_content
  display: block

  @include media(md)
    display: none
  
  .menu_icon
    width: $menu-icon-size
    height: $menu-icon-size

.mobile_navbar_wrapper 
  height: 0
  overflow: hidden
  background-color: var(--white)
  transition: height var(--transition-primary)

  &.active
    height: $menu-active-height

    .navbar_item
      opacity: 1

  &.subnav_active
    height: calc($menu-active-height + $submenu-active-height)


  @include media(md)
    display: none

  .navbar_wrapper
    margin-top: var(--space-sm)

  .navbar_list
    display: flex
    flex-direction: column

  .navbar_item
    border-top: $menu-border
    padding: var(--space-sm) 0
    opacity: 0
    transition: opacity var(--transition-primary)
    transition-delay: 100ms

    &:first-child
      border-top: 0


.desktop_content
  display: none

  @include media(md)
    display: block

  .navbar_wrapper

    .navbar_list
      display: flex
      align-items: center

    .navbar_item
      margin-right: var(--space-md)

      &:last-child
        margin-right: 0

.navbar_item

  a
    color: var(--black)
    transition: var(--transition-primary)

    @include hover
      color: var(--color-primary)

.navbar_button
  width: 100%
  font-size: var(--text-base-size)

  @include media(md)
    width: auto
  
.item_align
  display: flex
  align-items: center
  color: var(--black)
  cursor: pointer
  transition: var(--transition-primary)

  svg
    color: var(--black)
    fill: transparent

  @include hover
    color: var(--color-primary)

    svg
      color: var(--color-primary)


.sub_navbar_wrapper
  display: none
  height: 0
  overflow: hidden
  color: var(--black)
  background-color: var(--white)
  transition: height var(--transition-primary)

  @include media(md)
    display: block

  &.active
    height: 28px
    margin: var(--space-lg) 0 var(--space-sm)

  .sub_navbar_list
    display: grid
    grid-template-columns: repeat(3, 1fr)

    .list_item
      
      span
        display: flex
        align-items: center
        margin-left: var(--space-md)
        font-weight: 500
        color: var(--black)
        cursor: pointer
        transition: var(--transition-primary)

        svg
          transition: var(--transition-primary)
          color: var(--black)

        @include hover
          color: var(--color-primary)
          border-radius: var(--border-radius-primary)

          svg
            color: var(--color-primary)

        @include media(md)
          margin-left: var(--space-lg)

        &:first-child
          margin-left: 0

.sub_navbar_mobile_wrapper
  height: 0
  overflow: hidden
  color: var(--black)
  background-color: $background-surface-color
  transition: height var(--transition-primary)

  @include media(md)
    display: none

  &.active
    height: 128px

  .sub_navbar_list
    padding: var(--space-sm) 0
    padding-left: var(--space-md)

    .list_item
      margin-bottom: var(--space-md)

      &:last-child
        margin-bottom: 0
      
      span
        display: flex
        align-items: center
        font-weight: 500
        color: var(--black)
        cursor: pointer
        transition: var(--transition-primary)

        svg
          transition: var(--transition-primary)
          color: var(--black)
          fill: transparent

        @include hover
          color: var(--color-primary)
          border-radius: var(--border-radius-primary)

          svg
            color: var(--color-primary)